<ng-include src="'views/misc/templates/header.view.client.html'"></ng-include>

<div id="page-content-wrapper">
    <ul class="nav nav-tabs nav-justified dashboard-tabs">
        <li>
            <a href="#/dashboard">
                <span class="glyphicon glyphicon-th-large"></span>
                <span class="visible-md visible-lg">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="#/dashboard/books">
                <i class="fa fa-book" aria-hidden="true"></i>
                <span class="visible-md visible-lg">Cookbooks</span>
            </a>
        </li>
        <li>
            <a href="#/dashboard/recipes">
                <span class="glyphicon glyphicon-cutlery"></span>
                <span class="visible-md visible-lg">Recipes</span>
            </a>
        </li>
        <li class="active">
            <a>
                <i class="fa fa-users" aria-hidden="true"></i>
                <span class="visible-md visible-lg">Following</span>
            </a>
        </li>
    </ul>

    <div class="mdc-msg-text">
        <div class="alert alert-danger" ng-show="model.error">
            {{model.error}}
        </div>
        <div class="alert alert-success" ng-show="model.message">
            {{model.message}}
        </div>
    </div>

    <div class="container-fluid">
        <div>
            <h4>My Following</h4>
            <hr>
        </div>
        <div ng-show="model.following_msg" class="alert alert-success mdc-msg-text">
            {{model.following_msg}}
        </div>
        <div ng-repeat="follower in model.following">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>{{follower.username}}</h4>
                    </div>
                    <div class="panel-body">
                        <p>{{follower.about}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-include src="'views/misc/templates/footer.view.client.html'"></ng-include>
</div>