<ng-include src="'views/misc/templates/header.view.client.html'"></ng-include>

<div id="page-content-wrapper">
    <!-- Should just make it into a hamburger or something when medium to small -->
    <ul class="nav nav-tabs nav-justified dashboard-tabs">
        <li><a href="#/dashboard">Dashboard</a></li>
        <li><a href="#/dashboard/books">Cookbooks</a></li>
        <li class="active"><a>Recipes</a></li>
        <li><a href="#/dashboard/following">Following</a></li>
    </ul>

    <div class="mdc-msg-text">
        <div class="alert alert-danger" ng-show="model.error">
            {{model.error}}
        </div>
        <div class="alert alert-success" ng-show="model.message">
            {{model.message}}
        </div>
    </div>

    <div class="row container-fluid">
        <div>
            <a href="#/dashboard/recipes/new" class="pull-right">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
            <h4>My Recipes</h4>
        </div>
        <hr>
        <div ng-show="model.recipe_msg" class="alert alert-success mdc-msg-text">
            {{model.recipe_msg}}
        </div>
        <div ng-repeat="recipe in model.recipes">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="#/dashboard/recipes/{{recipe._id}}" class="pull-right btn">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <h4><a href="#/recipe/{{recipe._id}}">{{recipe.name}}</a></h4>
                    </div>
                    <div class="panel-body">
                        <img class="mdc-panel-image" ng-src="{{recipe.img_record._url}}"/>
                        <p>{{recipe.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-include src="'views/misc/templates/footer.view.client.html'"></ng-include>
</div>