<ng-include src="'views/misc/templates/header.view.client.html'"></ng-include>

<div id="page-content-wrapper">
    <!-- Should just make it into a hamburger or something when medium to small -->
    <ul class="nav nav-tabs nav-justified dashboard-tabs">
        <li><a href="#/dashboard">Dashboard</a></li>
        <li><a href="#/dashboard/books">Cookbooks</a></li>
        <li><a href="#/dashboard/recipes">Recipes</a></li>
        <li><a href="#/dashboard/favorites">Favorites</a></li>
        <li class="active"><a>Following</a></li>
    </ul>

    <div class="mdc-msg-text">
        <div class="alert alert-danger" ng-show="model.error">
            {{model.error}}
        </div>
        <div class="alert alert-success" ng-show="model.message">
            {{model.message}}
        </div>
    </div>

    <div class="row container-fluid">
        <div class="col-lg-12">
            <h4>My Following</h4>
            <hr>
        </div>
        <div ng-show="model.following_msg" class="alert alert-success mdc-msg-text">
            {{model.following_msg}}
        </div>
        <div ng-repeat="follower in model.following">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>{{follower.username}}</h4>
                    </div>
                    <div class="panel-body">
                        <img class="mdc-panel-image" ng-src="{{follower.img_record.url}}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-include src="'views/misc/templates/footer.view.client.html'"></ng-include>
</div>