<ng-include src="'views/misc/templates/header.view.client.html'"></ng-include>

<div id="page-content-wrapper">
    <ul class="nav nav-tabs nav-justified dashboard-tabs">
        <li>
            <a href="#/dashboard">
                <span class="glyphicon glyphicon-th-large"></span>
                <span class="visible-md visible-lg">Dashboard</span>
            </a>
        </li>
        <li class="active">
            <a>
                <i class="fa fa-book" aria-hidden="true"></i>
                <span class="visible-md visible-lg">Cookbooks</span>
            </a>
        </li>
        <li>
            <a href="#/dashboard/recipes">
                <span class="glyphicon glyphicon-cutlery"></span>
                <span class="visible-md visible-lg">Recipes</span>
            </a>
        </li>
        <li>
            <a href="#/dashboard/following">
                <i class="fa fa-users" aria-hidden="true"></i>
                <span class="visible-md visible-lg">Following</span>
            </a>
        </li>
    </ul>

    <div class="mdc-msg-text">
        <div class="alert alert-danger" ng-show="model.error">
            {{model.error}}
        </div>
        <div class="alert alert-success" ng-show="model.message">
            {{model.message}}
        </div>
    </div>

    <div class="container-fluid">
        <div>
            <a href="#/dashboard/books/new" class="pull-right">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
            <h4>My Cookbooks</h4>
        </div>
        <hr>
        <div ng-show="model.book_msg" class="alert alert-success mdc-msg-text">
            {{model.book_msg}}
        </div>
        <div ng-repeat="book in model.books">
            <div class="col-md-4">
                <div class="panel panel-default panel-seth-green">
                    <div class="panel-heading">
                        <a href="#/dashboard/books/{{book._id}}" class="pull-right btn">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a href="#/cookbook/{{book._id}}">{{book.name}}</a>
                    </div>
                    <div class="panel-body">
                        <p>{{book.description | limitTo : 140}}...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-include src="'views/misc/templates/footer.view.client.html'"></ng-include>
</div>