<ng-include src="'views/misc/templates/header.view.client.html'"></ng-include>

<div id="page-content-wrapper">
    <ul class="nav nav-tabs nav-justified dashboard-tabs">
        <li class="active">
            <a>
                <span class="glyphicon glyphicon-th-large"></span>
                <span class="visible-md visible-lg">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="#/dashboard/books">
                <i class="fa fa-book" aria-hidden="true"></i>
                <span class="visible-md visible-lg">Cookbooks</span>
            </a>
        </li>
        <li>
            <a href="#/dashboard/recipes">
                <span class="glyphicon glyphicon-cutlery"></span>
                <span class="visible-md visible-lg">Recipes</span>
            </a>
        </li>
        <li>
            <a href="#/dashboard/following">
                <i class="fa fa-users" aria-hidden="true"></i>
                <span class="visible-md visible-lg">Following</span>
            </a>
        </li>
    </ul>

    <div class="mdc-msg-text">
        <div class="alert alert-danger" ng-show="model.error">
            {{model.error}}
        </div>
        <div class="alert alert-success" ng-show="model.message">
            {{model.message}}
        </div>
    </div>

    <div class="row container-fluid">
        <div>
            <h4>My Cookbooks</h4>
            <hr>
        </div>
        <div ng-show="model.book_msg" class="alert alert-success mdc-msg-text">
            {{model.book_msg}}
        </div>
        <div ng-repeat="book in model.books">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="#/dashboard/books/{{book._id}}" class="pull-right btn">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <h4><a href="#/cookbook/{{book._id}}">{{book.name}}</a></h4>
                    </div>
                    <div class="panel-body">
                        <p>{{book.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row container-fluid">
        <div>
            <h4>My Recipes</h4>
            <hr>
        </div>
        <div ng-show="model.recipe_msg" class="alert alert-success mdc-msg-text">
            {{model.recipe_msg}}
        </div>
        <div ng-repeat="recipe in model.recipes">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="#/dashboard/recipes/{{recipe._id}}" class="pull-right btn">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <h4><a href="#/recipe/{{recipe._id}}">{{recipe.name}}</a></h4>
                    </div>
                    <div class="panel-body">
                        <p>{{recipe.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row container-fluid">
        <div>
            <h4>Feed</h4>
            <hr>
        </div>
        <div ng-show="model.feed_msg" class="alert alert-success mdc-msg-text">
            {{model.feed_msg}}
        </div>
        <ul class="list-group">
            <li ng-repeat="item in model.feed"
                class="list-group-item">
                {{item}}
                <p>{{item.description}}</p>
            </li>
        </ul>
    </div>

    <ng-include src="'views/misc/templates/footer.view.client.html'"></ng-include>
</div>