<ng-include src="'views/misc/templates/header.view.client.html'"></ng-include>

<div id="page-content-wrapper">
    <div class="mdc-msg-text">
        <div class="alert alert-danger" ng-show="model.error">
            {{model.error}}
        </div>
        <div class="alert alert-success" ng-show="model.message">
            {{model.message}}
        </div>
    </div>

    <section>
        <h2>Sign in with Google</h2>
        <a href="/auth/google" class="btn btn-block btn-danger"><span class="fa fa-google-plus"></span> Google</a>
    </section>
    <p class="mdc-or-divider">OR</p>
    <section>
        <h2>Sign in with your Username</h2>
        <input type="text"
               placeholder="Username"
               autocorrect="off"
               autocapitalize="off"
               class="form-control"
               ng-model="user.username"/>
        <input type="password"
               placeholder="Password"
               autocorrect="off"
               autocapitalize="off"
               class="form-control"
               ng-model="user.password"/>
        <button class="btn btn-block btn-primary"
                ng-click="model.login(user)">Sign In</button>
    </section>
    <div>
        <span class="btn btn-block mdc-btn-default">New to MDC? <a href="#/register">Join for free!</a></span>
    </div>

    <ng-include src="'views/misc/templates/footer.view.client.html'"></ng-include>
</div>