<ng-include src="'views/misc/templates/header.view.client.html'"></ng-include>

<div id="page-content-wrapper">
    <div class="mdc-msg-text">
        <div class="alert alert-danger" ng-show="model.error">
            {{model.error}}
        </div>
        <div class="alert alert-success" ng-show="model.message">
            {{model.message}}
        </div>
    </div>

    <form>
        <div class="form-group">
            <label for="current-pass">Current Password</label>
            <input ng-model="model.user.currentPass"
                   type="password"
                   autocorrect="off"
                   autocapitalize="off"
                   class="form-control"
                   id="current-pass">
        </div>
        <div class="form-group">
            <label for="new-pass">New Password</label>
            <input ng-model="model.user.newPass"
                   type="password"
                   autocorrect="off"
                   autocapitalize="off"
                   class="form-control"
                   id="new-pass">
        </div>
        <div class="form-group">
            <label for="confirm-pass">Confirm Password</label>
            <input ng-model="model.user.confirmPass"
                   type="password"
                   autocorrect="off"
                   autocapitalize="off"
                   class="form-control"
                   id="confirm-pass">
        </div>
    </form>

    <a class="btn btn-primary btn-block"
       ng-click="model.update(model.user)">
        Save
    </a>
    <a class="btn btn-danger btn-block"
       href="#/profile">
        Cancel
    </a>

    <ng-include src="'views/misc/templates/footer.view.client.html'"></ng-include>
</div>