<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header mdc-logo pull-left">
            <a class="navbar-brand" href="/">
                <img src="../../../../img/logo-100x70.png"/>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand">
                My Digital Cookbook
            </a>
        </div>
        <div class="pull-right">
            <a class="navbar-brand" href="/">
                <span class="fa fa-sign-out" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</nav>

<div>
    <section>
        <div class="alert alert-danger" ng-show="model.error">
            {{model.error}}
        </div>
        <div class="alert alert-success" ng-show="model.message">
            {{model.message}}
        </div>
    </section>

    <form>
        <div class="form-group">
            <label for="current-pass">Current Password</label>
            <input ng-model="model.user.currentPass"
                   type="password"
                   autocorrect="off"
                   autocapitalize="off"
                   class="form-control"
                   id="current-pass">
        </div>
        <div class="form-group">
            <label for="new-pass">New Password</label>
            <input ng-model="model.user.newPass"
                   type="password"
                   autocorrect="off"
                   autocapitalize="off"
                   class="form-control"
                   id="new-pass">
        </div>
        <div class="form-group">
            <label for="confirm-pass">Confirm Password</label>
            <input ng-model="model.user.confirmPass"
                   type="password"
                   autocorrect="off"
                   autocapitalize="off"
                   class="form-control"
                   id="confirm-pass">
        </div>
    </form>

    <a class="btn btn-primary btn-block"
       ng-click="model.update(model.user)">
        Save
    </a>
    <a class="btn btn-danger btn-block"
       href="#/profile">
        Cancel
    </a>
</div>

<nav class="visible-md navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid pull-right">
        <p class="navbar-text">Source code available on <a href="https://github.com/aolgin/my-digital-cookbook/tree/master/public">Github</a></p>
    </div>
</nav>