<ng-include src="'views/misc/templates/header.view.client.html'"></ng-include>

<div id="page-content-wrapper">
    <section>
        <div class="alert alert-danger" ng-show="model.error">
            {{model.error}}
        </div>
        <div class="alert alert-success" ng-show="model.message">
            {{model.message}}
        </div>
    </section>

    <form>
        <div class="form-group">
            <label for="profile-pic">Profile Picture</label>
            <img ng-src="model.user.profile_pic"/>
            <input ng-model="model.user.profile_pic"
                   name="myFile"
                   type="file"
                   class="form-control"
                   id="profile-pic">
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input ng-model="model.user.username"
                   type="text"
                   autocorrect="off"
                   autocapitalize="off"
                   class="form-control"
                   id="username"
                   placeholder="jsmith">
        </div>
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input ng-model="model.user.firstName"
                   type="text"
                   autocorrect="off"
                   autocapitalize="off"
                   class="form-control"
                   id="first-name"
                   placeholder="John">
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input ng-model="model.user.lastName"
                   type="text"
                   autocorrect="off"
                   autocapitalize="off"
                   class="form-control"
                   id="last-name"
                   placeholder="Smith">
        </div>
        <div class="form-group">
            <label for="about">About Me</label>
            <textarea ng-model="model.user.about"
                      class="form-control"
                      id="about"
                      placeholder="A little bit about yourself..."></textarea>
        </div>
    </form>

    <a class="btn btn-primary btn-block"
       ng-click="model.update(model.user)">
        Save
    </a>
    <a class="btn btn-danger btn-block"
       href="#/dashboard">
        Cancel
    </a>

    <a class="btn btn-success btn-block"
       href="#/profile/{{model.userId}}/changePassword">
        Change Password
    </a>


    <a class="btn btn-severe btn-block"
       ng-click="model.deleteUser()">
        Delete Account
    </a>

    <ng-include src="'views/misc/templates/footer.view.client.html'"></ng-include>
</div>