<ng-include src="'views/misc/templates/header.view.client.html'"></ng-include>

<div id="page-content-wrapper">
    <div class="mdc-msg-text">
        <div class="alert alert-danger" ng-show="model.error">
            {{model.error}}
        </div>
        <div class="alert alert-success" ng-show="model.message">
            {{model.message}}
        </div>
    </div>

    <h2>Join for free today and start creating your own digital cookbooks!</h2>

    <div class="list-group mdc-nobullets">
        <div>
            <h4>Sign up with your Google Account</h4>
            <a href="/auth/google" class="btn btn-block btn-danger"><span class="fa fa-google-plus"></span> Google</a>
        </div>
        <p class="mdc-or-divider">OR</p>
        <form>
            <h4>Sign Up as a New Chef!</h4>
            <input class="form-control"
                   type="text"
                   autocorrect="off"
                   autocapitalize="off"
                   placeholder="Username"
                   ng-model="user.username"/>
            <input class="form-control"
                   type="password"
                   autocorrect="off"
                   autocapitalize="off"
                   placeholder="Password"
                   ng-model="user.password"/>
            <input class="form-control"
                   type="password"
                   autocorrect="off"
                   autocapitalize="off"
                   placeholder="Confirm Password"
                   ng-model="user.confirmPass"/>
            <button class="btn btn-block btn-primary"
                    ng-click="model.register(user)">Sign Up</button>
        </form>

        <div>
            <span class="btn btn-block mdc-btn-default">Already cookin'? <a href="#/login">Sign in</a></span>
        </div>
    </div>
</div>

<ng-include src="'views/misc/templates/footer.view.client.html'"></ng-include>