body {
    padding-top: 60px;
    padding-bottom: 55px;
}

.mdc-logo {
    margin-top: -15px;
}

.mdc-or-divider {
    text-align: center;
    width: 75%;
    margin: 1rem auto;
    position: relative;
}

.mdc-clean-list {
    list-style: none;
}

.btn-orange {
    color: #fff;
    background-color: #FFA500;
    border-color: #FF8C00;
}

.btn-severe {
    color: #fff;
    background-color: #961914;
    border-color: #962500;
}

.btn-teal {
    color: #fff;
    background-color: #008B8B;
    border-color: #008080;
}

.btn-fb-blue {
    color: #fff;
    background-color: #3b5998;
    border-color: #2e6da4;
}