body {
    padding-top: 60px;
    padding-bottom: 55px;
}

@media (min-width: 0px) {
    .nav-justified > li {
        display: table-cell;
        width: 1%;
    }

    .nav-tabs.nav-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0;
    }

    .nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:hover, .nav-tabs.nav-justified>.active>a:focus {
        border-bottom-color: #fff;
    }

.mdc-align-center {
    text-align: center;
}

.mdc-extra-vertical-padding {
    padding-top: 10px;
    padding-bottom: 10px;
}

.mdc-comment-editor {
    padding-bottom: 10px;
}

.mdc-comment-toggle {
    margin-bottom: 10px;
}

.mdc-msg-text {
    text-align: center;
}

.mdc-logo {
    margin-top: -15px;
}

.mdc-textangular {
    padding-bottom: 15px;
}

.mdc-or-divider {
    text-align: center;
    width: 75%;
    margin: 1rem auto;
    position: relative;
}

.mdc-clean-list {
    list-style: none;
}

.mdc-navbar-header:before,
.mdc-navbar-header:after {
    display: table-row;
    content: "";
}

.mdc-btn-default {
    color: #333;
    background-color: #fff;
}

.btn-orange {
    color: #fff;
    background-color: #FFA500;
    border-color: #FF8C00;
}

.btn-severe {
    color: #fff;
    background-color: #961914;
    border-color: #962500;
}

.btn-teal {
    color: #fff;
    background-color: #008B8B;
    border-color: #008080;
}

.btn-fb-blue {
    color: #fff;
    background-color: #3b5998;
    border-color: #2e6da4;
}