/* --- Start Main Page Specific CSS -- */

header.main-page .header-content .header-content-inner h1 {
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
}

header.main-page .header-content {
    position: relative;
    text-align: center;
    padding: 100px 15px 100px;
    width: 100%;
}

header.main-page {
    position: relative;
    width: 100%;
    min-height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url("../../img/header.jpg");
    text-align: center;
    color: white;
}

header.main-page .header-content {
    position: relative;
    text-align: center;
    padding: 100px 15px 100px;
    width: 100%;
}

.main-page hr {
    border-color: #F05F40;
    border-width: 3px;
    max-width: 50px;
}

header.main-page .header-content .header-content-inner p {
    font-weight: 300;
    color: rgba(247, 239, 215, 0.9);
    font-size: 16px;
    margin-bottom: 50px;
}

section.main-page {
    padding: 100px 0;
}

section.bg-primary {
    color: #fff;
    background-color: #F05F40;
}

.main-page .text-faded {
    color: rgba(255, 255, 255, 0.7);
}

.main-page p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    header.main-page .header-content .header-content-inner p {
        font-size: 18px;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}


/*.main-page .form-control {*/
    /*border-radius: 15px;*/
/*}*/

/* --- End Main Page Specific CSS */

body {
    padding-top: 60px;
    padding-bottom: 55px;
    font-family: "Calibri";
}

a {
    color: #A8CBAB;
}

a:hover, a:focus {
    color: #333;
    text-decoration: none;
}

.alert-danger > p > a {
    color: #333;
}

.panel-default.panel-seth-green {
    border-color: #DEF8D4;
    box-shadow: 0 1px 2px #DEF8D4;
}

.panel-default.panel-seth-green > .panel-heading {
    background-image: linear-gradient(to right, #EAF8D4 100%, #fff 0%);
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (min-width: 0px) {
    .nav-justified > li {
        display: table-cell;
        width: 1%;
    }

    .nav-tabs.nav-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0;
    }

    .nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
        border-bottom-color: #fff;
    }
}

.mdc-align-center {
    text-align: center;
}

.mdc-extra-vertical-padding {
    padding-top: 10px;
    padding-bottom: 10px;
}

.mdc-comment-editor {
    padding-bottom: 10px;
}

.mdc-comment-toggle {
    margin-bottom: 10px;
}

.mdc-msg-text {
    text-align: center;
    padding: 10px;
    font-size: 14pt;
}

.mdc-logo {
    margin-top: -15px;
}

.mdc-textangular {
    padding-bottom: 15px;
}

.mdc-or-divider {
    text-align: center;
    width: 75%;
    margin: 1rem auto;
    position: relative;
}

.mdc-clean-list {
    list-style: none;
}

.mdc-navbar-header:before,
.mdc-navbar-header:after {
    display: table-row;
    content: "";
}

.mdc-btn-default {
    color: #333;
    background-color: #fff;
}

.btn-orange {
    color: #fff;
    background-color: #FFA500;
    border-color: #FF8C00;
}

.btn-severe {
    color: #fff;
    background-color: #961914;
    border-color: #962500;
}

.btn-teal {
    color: #fff;
    background-color: #008B8B;
    border-color: #008080;
}

.btn-fb-blue {
    color: #fff;
    background-color: #3b5998;
    border-color: #2e6da4;
}