<ng-include src="'views/misc/templates/header.view.client.html'"></ng-include>

<!-- NOTE: This is the logged-in user viewing their recipes -->

<div id="page-content-wrapper">
    <ul class="list-group" ng-repeat="recipe in model.recipes">
        <li class="list-group-item">
            <img ng-src="{{recipe.image_url}}"/>
            <span><a href="#/user/{{model.userId}}/recipe/{{recipe._id}}/recipe">{{recipe.name}}</a></span>
            <span>{{recipe.description}}</span>
            <div class="pull-right">
                <a href="#/user/{{model.userId}}/recipe/{{recipe._id}}">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
            </div>
        </li>
    </ul>

    <ng-include src="'views/misc/templates/footer.view.client.html'"></ng-include>
</div>