<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header mdc-logo pull-left">
            <a class="navbar-brand" href="/">
                <img src="../../../../img/logo-100x70.png"/>
            </a>
        </div>
        <ng-include src="views/search/templates/search-bar.view.client.html"></ng-include>
        <div class="pull-right">
            <a class="navbar-brand" href="/">
                <span class="fa fa-sign-out" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</nav>


<nav class="visible-md visible-lg navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid pull-right">
        <p class="navbar-text">Source code available on <a href="https://github.com/aolgin/my-digital-cookbook/tree/master/public">Github</a></p>
    </div>
</nav>