<ng-include src="'views/misc/templates/header.view.client.html'"></ng-include>

<div id="page-content-wrapper">
    <div ng-if="model.recipe.img_record.url"
         class="col-md-3 hidden-sm">
        <img ng-src="{{model.recipe.img_record.url}}" width="100%"/>
    </div>

    <div class="col-md-9 col-xs-12">
        <div class="col-xs-12 col-md-6">
            <h3>{{model.recipe.name}}</h3>
            <h5>Created by {{model.recipe._user.username}} on {{model.recipe.dateCreated | date}}</h5>
            <h4>{{model.recipe.description}}</h4>
            <div ng-if="model.yourRecipe">
                <a href="#/dashboard/recipes/{{model.recipe._id}}">
                    <span class="btn btn-teal">Edit Recipe</span>
                </a>
            </div>
        </div>
        <div class="recipe-results pull-right col-xs-12 col-md-6">
            <p>Prep Time: {{model.recipe.prep_time}}</p>
            <p>Cook Time: {{model.recipe.cook_time}}</p>
            <p>Ready In: {{model.recipe.ready_in}}</p>
            <p>Num. Servings: {{model.recipe.num_servings}}</p>
            <p>Yield: {{model.recipe.yield}}</p>
            <p>Rating:
                <span uib-rating
                      ng-model="model.recipe.rating.actual"
                      max="5"
                      read-only="true"
                      on-hover="hoveringOver(value)"
                      on-leave="overStar = null"
                      aria-labelledby="default-rating"></span>
            </p>
            <p>Rating Count: {{model.recipe.rating.count}}</p>
        </div>
        <hr>

        <div class="mdc-html">
            <label for="ingredients">Ingredients: </label>
            <div id="ingredients" ng-bind-html="model.getTrustedHtml(model.recipe.ingredients)"></div>
            <label for="directions">Directions: </label>
            <div id="directions" ng-bind-html="model.getTrustedHtml(model.recipe.directions)"></div>
        </div>
    </div>

    <div class="mdc-comments col-xs-12">
        <h4>Comments</h4>
        <hr>
        <button ng-if="model.uid && !model.showCommentBox"
                ng-click="model.commentBoxToggle()"
                class="btn btn-success form-control mdc-comment-toggle">Comment</button>
        <div ng-show="model.commentMsg" class="alert alert-info mdc-msg-text">
            {{model.commentMsg}}
        </div>
        <div ng-if="model.showCommentBox" class="mdc-comment-editor">
            <div ng-show="model.commentErr" class="alert alert-danger mdc-msg-text">
                {{model.commentErr}}
            </div>
            <form>
                <label for="comment-rating">Rating: </label>
                <span uib-rating
                      id="comment-rating"
                      ng-model="comment.rating"
                      max="5"
                      read-only="false"
                      on-hover="hoveringOver(value)"
                      on-leave="overStar = null"
                      aria-labelledby="default-rating"></span>
                <br>
                <label for="comment-text">Comment: </label>
                <textarea id="comment-text"
                          class="form-control"
                          ng-model="comment.text"></textarea>
                <div class="btn-group btn-group-justified">
                    <a ng-click="model.commentOnRecipe(comment)"
                            class="btn btn-primary">Post</a>
                    <a ng-click="model.commentBoxToggle()"
                            class="btn btn-danger">Cancel</a>
                </div>
            </form>
        </div>

        <div ng-if="model.commentsMsg" class="mdc-msg-text">
            <span>{{model.commentsMsg}}</span>
        </div>

        <div ng-repeat="comment in model.recipe.comments" class="mdc-comment">
            <div>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div>
                            <a class="pull-right"
                               ng-if="model.uid === comment._user._id"
                               ng-click="model.deleteComment(comment._id)">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                            <span uib-rating
                                  ng-model="comment.rating"
                                  max="5"
                                  read-only="true"
                                  on-hover="hoveringOver(value)"
                                  aria-labelledby="default-rating"></span>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>{{comment.text}}</p>
                    </div>
                    <div class="panel-footer" ng-if="comment.rating">
                        <span> Submitted by <a href="#/chef/{{comment._user._id}}">{{comment._user.username}}</a> on {{comment.dateCreated | date}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-include src="'views/misc/templates/footer.view.client.html'"></ng-include>
</div>