<ng-include src="'views/misc/templates/header.view.client.html'"></ng-include>

<div id="page-content-wrapper">
    <h3>Details for {{model.book.name}}</h3>
    <div class="mdc-msg-text">
        <div class="alert alert-danger" ng-show="model.error">
            {{model.error}}
        </div>
        <div class="alert alert-success" ng-show="model.message">
            {{model.message}}
        </div>
    </div>

    <div>
        <div class="input-group">
            <span class="input-group-addon" id="bid"><b>ObjectId: </b></span>
            <input type="text"
                   class="form-control"
                   aria-describedby="bid"
                   value="{{model.book._id}}"
                   disabled />
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="name"><b>Name: </b></span>
            <input type="text"
                   class="form-control"
                   value="{{model.book.name}}"
                   aria-describedby="name"/>
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="desc"><b>Description: </b></span>
            <input type="text"
                   class="form-control"
                   value="{{model.book.description}}"
                   aria-describedby="desc"/>
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="owner"><b>Owner: </b></span>
            <input type="text"
                   class="form-control"
                   value="{{model.book._user}}"
                   aria-describedby="owner"
                   disabled />
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="public"><b>Public Url: </b></span>
            <input type="text"
                   class="form-control"
                   value="/cookbook/{{model.book._id}}"
                   aria-describedby="public"
                   disabled />
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="image"><b>Image Url: </b></span>
            <input type="text"
                   class="form-control"
                   value="{{model.book.image_url}}"
                   aria-describedby="image"/>
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="recipes"><b>Recipes: </b></span>
            <input type="text"
                   class="form-control"
                   value="{{model.book.recipes}}"
                   aria-describedby="recipes"
                   disabled />
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="created"><b>DateCreated: </b></span>
            <input type="text"
                   class="form-control"
                   value="{{model.book.dateCreated | date}}"
                   aria-describedby="created"
                   disabled />
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="modified"><b>DateModified: </b></span>
            <input type="text"
                   class="form-control"
                   value="{{model.book.dateModified | date}}"
                   aria-describedby="modified"
                   disabled />
        </div>
    </div>

    <a class="btn btn-block btn-success" href="#/admin/book/{{model.book._id}}/details">
        Modify
    </a>
    <a class="btn btn-block btn-severe" ng-click="model.deleteBook(model.book, true)">
        Delete
    </a>
    <a class="btn btn-block btn-danger" href="#/admin/book">
        Back to Overview
    </a>

    <ng-include src="'views/misc/templates/footer.view.client.html'"></ng-include>
</div>