<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header mdc-logo pull-left">
            <a class="navbar-brand" href="#/admin">
                <img src="../../../../img/logo-100x70.png"/>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand">
                My Digital Cookbook
            </a>
        </div>
        <div class="pull-right">
            <a class="navbar-brand" href="#/login/admin">
                <span class="fa fa-sign-out" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</nav>

<div>
    <section>
        <div class="alert alert-danger" ng-show="model.error">
            {{model.error}}
        </div>
        <div class="alert alert-success" ng-show="model.message">
            {{model.message}}
        </div>
    </section>

    <div class="jumbotron">
        <h2>Welcome to the MDC Admin Console!</h2>
        <p>Please select an option below:</p>
        <div class="list-group">
            <a class="list-group-item" href="#/admin/user">Manage Users</a>
            <a class="list-group-item" href="#/admin/book">Manage Books</a>
            <a class="list-group-item" href="#/admin/recipe">Manage Recipes</a>
        </div>
    </div>
</div>

<nav class="visible-md navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid pull-right">
        <p class="navbar-text">Source code available on <a href="https://github.com/aolgin/my-digital-cookbook/tree/master/public">Github</a></p>
    </div>
</nav>