<ng-include src="'views/misc/templates/header.view.client.html'"></ng-include>

<div id="page-content-wrapper">
    <div class="mdc-msg-text">
        <div class="alert alert-danger" ng-show="model.error">
            {{model.error}}
        </div>
        <div class="alert alert-success" ng-show="model.message">
            {{model.message}}
        </div>
    </div>

    <div class="jumbotron">
        <h2>Welcome to the MDC Admin Portal</h2>
        <p>Please select an option below:</p>
        <div class="list-group">
            <a class="list-group-item" href="#/admin/user">Manage Users</a>
            <a class="list-group-item" href="#/admin/book">Manage Books</a>
            <a class="list-group-item" href="#/admin/recipe">Manage Recipes</a>
        </div>
    </div>

    <ng-include src="'views/misc/templates/footer.view.client.html'"></ng-include>
</div>