<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header mdc-logo pull-left">
            <a class="navbar-brand" href="/">
                <img src="../../../../img/logo-100x70.png"/>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand">
                My Digital Cookbook
            </a>
        </div>
    </div>
</nav>

<div>
    <h2>Admin Management Portal</h2>
    <hr>
    <div class="mdc-msg-text">
        <div class="alert alert-danger" ng-show="model.error">
            {{model.error}}
        </div>
        <div class="alert alert-success" ng-show="model.message">
            {{model.message}}
        </div>
    </div>

    <section>
        <h3>Sign in with your Username</h3>
        <input type="text"
               placeholder="Username"
               autocorrect="off"
               autocapitalize="off"
               class="form-control"
               ng-model="user.username"/>
        <input type="password"
               placeholder="Password"
               autocorrect="off"
               autocapitalize="off"
               class="form-control"
               ng-model="user.password"/>
        <button class="btn btn-block btn-primary"
                ng-click="model.login(user)">Sign In</button>
    </section>
    <div>
        <span class="btn btn-block mdc-btn-default"><a href="#/login">At the wrong login page?</a></span>
        <span class="btn btn-block mdc-btn-default"><a href="/">Take me back home</a></span>
    </div>
</div>

<nav class="visible-md navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid pull-right">
        <p class="navbar-text">Source code available on <a href="https://github.com/aolgin/my-digital-cookbook/tree/master/public">Github</a></p>
    </div>
</nav>