<ng-include src="'views/misc/templates/header.view.client.html'"></ng-include>

<div id="page-content-wrapper" ng-init="model.renderRecipes()">
    <a href="#/admin">
        <span class="glyphicon glyphicon-chevron-left"></span>
        Back
    </a>
    <div>
        <a href="#/admin/recipe/new" class="pull-right">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
        <h3>Manage Recipes</h3>
    </div>

    <div class="mdc-msg-text">
        <div class="alert alert-danger" ng-show="model.error">
            {{model.error}}
        </div>
        <div class="alert alert-success" ng-show="model.message">
            {{model.message}}
        </div>
    </div>

    <div>
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-sm-4 col-xs-9">
                        <u>Name</u>
                    </div>
                    <div class="col-sm-3 hidden-xs">
                        <u>ID</u>
                    </div>
                    <div class="col-sm-3 hidden-xs">
                        <u>Owner</u>
                    </div>
                    <div class="col-sm-3 hidden-xs">
                        <u>Created</u>
                    </div>
                </div>
            </li>
            <li class="list-group-item" ng-repeat="recipe in model.recipes">
                <div class="row">
                    <div class="col-sm-4 col-xs-5">
                        <a href="#/admin/recipe/{{recipe._id}}/details">{{recipe.name}}</a>
                    </div>
                    <div class="col-sm-3 col-xs-5">
                        {{recipe._id}}
                    </div>
                    <div class="col-sm-3 col-xs-5">
                        {{recipe._user.username}}
                    </div>
                    <div class="col-sm-3 hidden-xs">
                        {{recipe.dateCreated | date}}
                    </div>
                    <div class="col-xs-2 col-sm-3">
                        <a ng-click="model.deleteRecipe(recipe, false)">
                            <span class="glyphicon glyphicon-remove pull-right"></span>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <ng-include src="'views/misc/templates/footer.view.client.html'"></ng-include>
</div>