<ng-include src="'views/misc/templates/header.view.client.html'"></ng-include>

<div id="page-content-wrapper" ng-init="model.renderRecipes()">
    <a href="#/admin">
        <span class="glyphicon glyphicon-chevron-left"></span>
        Back
    </a>
    <div>
        <a href="#/admin/recipe/new" class="badge pull-right">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
        <h3>Manage Recipes</h3>
    </div>

    <div class="mdc-msg-text">
        <div class="alert alert-danger" ng-show="model.error">
            {{model.error}}
        </div>
        <div class="alert alert-success" ng-show="model.message">
            {{model.message}}
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>ID</th>
                    <th>Owner</th>
                    <th>Created</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
            <tr ng-repeat="recipe in model.recipes">
                <th>
                    <a href="#/admin/recipe/{{recipe._id}}/details">{{recipe.name}}</a>
                </th>
                <th>{{recipe._id}}</th>
                <th>{{recipe._user.username}}</th>
                <th>{{recipe.dateCreated | date}}</th>
                <th>
                    <a ng-click="model.deleteRecipe(recipe, false)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </th>
            </tr>
            </tbody>
        </table>
    </div>

    <ng-include src="'views/misc/templates/footer.view.client.html'"></ng-include>
</div>