<ng-include src="'views/misc/templates/header.view.client.html'"></ng-include>

<div id="page-content-wrapper" ng-init="model.renderDetails()">
    <h3>Details for {{model.recipe.name}}</h3>
    <div class="mdc-msg-text">
        <div class="alert alert-danger" ng-show="model.error">
            {{model.error}}
        </div>
        <div class="alert alert-success" ng-show="model.message">
            {{model.message}}
        </div>
    </div>

    <div>
        <div class="input-group">
            <span class="input-group-addon" id="rid"><b>ObjectId: </b></span>
            <input type="text"
                   class="form-control"
                   aria-describedby="rid"
                   ng-model="model.recipe._id"
                   disabled />
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="name"><b>Name: </b></span>
            <input type="text"
                   class="form-control"
                   ng-model="model.recipe.name"
                   aria-describedby="name"/>
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="desc"><b>Description: </b></span>
            <input type="text"
                   class="form-control"
                   ng-model="model.recipe.description"
                   aria-describedby="desc"/>
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="owner"><b>Owner: </b></span>
            <input type="text"
                   class="form-control"
                   ng-model="model.recipe._user"
                   value="{{model.recipe._user}}"
                   aria-describedby="owner"
                   disabled />
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="rating"><b>Rating: </b></span>
            <span uib-rating
                  id="recipe-rating"
                  class="form-control"
                  ng-model="model.recipe.rating.actual"
                  max="5"
                  read-only="true"
                  on-hover="hoveringOver(value)"
                  on-leave="overStar = null"
                  aria-labelledby="default-rating"
                  disabled></span>
        </div>

        <div class="input-group">
            <span class="input-group-addon" id="public"><b>Public Url: </b></span>
            <input type="text"
                   class="form-control"
                   value="/recipe/{{model.recipe._id}}"
                   aria-describedby="public"
                   disabled />
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="yield"><b>Yield: </b></span>
            <input type="text"
                   class="form-control"
                   ng-model="model.recipe.yield"
                   aria-describedby="yield"/>
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="servings"><b>Num. Servings: </b></span>
            <input type="text"
                   class="form-control"
                   ng-model="model.recipe.num_servings"
                   aria-describedby="servings"/>
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="ctime"><b>Cook time: </b></span>
            <input type="text"
                   class="form-control"
                   ng-model="model.recipe.cook_time"
                   aria-describedby="ctime"/>
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="ptime"><b>Prep Time: </b></span>
            <input type="text"
                   class="form-control"
                   ng-model="model.recipe.prep_time"
                   aria-describedby="ptime"/>
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="ready"><b>Ready In: </b></span>
            <input type="text"
                   class="form-control"
                   ng-model="model.recipe.ready_in"
                   aria-describedby="ready"/>
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="books"><b>Member of Books: </b></span>
            <input type="text"
                   class="form-control"
                   ng-model="model.recipe.books"
                   value="{{model.recipe.books}}"
                   aria-describedby="books"
                   disabled />
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="categories"><b>Categories: </b></span>
            <input type="text"
                   class="form-control"
                   ng-model="model.recipe.categories"
                   value="{{model.recipe.categories}}"
                   aria-describedby="categories"
                   disabled />
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="created"><b>DateCreated: </b></span>
            <input type="text"
                   class="form-control"
                   ng-model="model.recipe.dateCreated"
                   value="{{model.recipe.dateCreated | date}}"
                   aria-describedby="created"
                   disabled />
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="modified"><b>DateModified: </b></span>
            <input type="text"
                   class="form-control"
                   ng-model="model.recipe.dateModified"
                   value="{{model.recipe.dateModified | date}}"
                   aria-describedby="modified"
                   disabled />
        </div>
    </div>

    <a class="btn btn-block btn-success" ng-click="model.updateRecipe(model.recipe)">
        Modify
    </a>
    <a class="btn btn-block btn-severe" ng-click="model.deleteRecipe(model.recipe, true)">
        Delete
    </a>
    <a class="btn btn-block btn-danger" href="#/admin/recipe">
        Back to Overview
    </a>

    <ng-include src="'views/misc/templates/footer.view.client.html'"></ng-include>
</div>