<ng-include src="'views/misc/templates/header.view.client.html'"></ng-include>

<div id="page-content-wrapper">
    <h3>Register New User</h3>
    <div class="mdc-msg-text">
        <div class="alert alert-danger" ng-show="model.error">
            {{model.error}}
        </div>
        <div class="alert alert-success" ng-show="model.message">
            {{model.message}}
        </div>
    </div>

    <form>
        <h4>Create a New Chef</h4>
        <input class="form-control"
               type="text"
               autocorrect="off"
               autocapitalize="off"
               placeholder="Username"
               ng-model="user.username"/>
        <input class="form-control"
               type="password"
               autocorrect="off"
               autocapitalize="off"
               placeholder="Password"
               ng-model="user.password"/>
        <input class="form-control"
               type="password"
               autocorrect="off"
               autocapitalize="off"
               placeholder="Confirm Password"
               ng-model="user.confirmPass"/>
        <input class="form-control"
               type="text"
               placeholder="John"
               ng-model="user.firstName"/>
        <input class="form-control"
               type="text"
               placeholder="Smith"
               ng-model="user.lastName"/>
        <input class="form-control"
               type="text"
               placeholder="Something about yourself..."
               ng-model="user.about"/>
        <!-- TODO: Add in checkbox or multi-select dropdown for roles -->

        <input class="form-control"
               type="text"
               placeholder="need to properly do this..."
               ng-model="user.image_url"/>
    </form>

    <button class="btn btn-block btn-primary"
            ng-click="model.register(user)">Create User</button>
    <a href="#/admin/user"
       class="btn btn-block btn-danger">
        Cancel
    </a>

    <ng-include src="'views/misc/templates/footer.view.client.html'"></ng-include>
</div>