<ng-include src="'views/misc/templates/header.view.client.html'"></ng-include>

<div id="page-content-wrapper" ng-init="model.renderDetails()">
    <h3>Details for {{model.user.username}}</h3>
    <div class="mdc-msg-text">
        <div class="alert alert-danger" ng-show="model.error">
            {{model.error}}
        </div>
        <div class="alert alert-success" ng-show="model.message">
            {{model.message}}
        </div>
    </div>

    <div>
        <div class="input-group">
            <span class="input-group-addon" id="uid"><b>ObjectId: </b></span>
            <input type="text"
                   class="form-control"
                   aria-describedby="uid"
                   ng-model="model.user._id"
                   disabled />
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="name"><b>Username: </b></span>
            <input type="text"
                   class="form-control"
                   ng-model="model.user.username"
                   aria-describedby="name"/>
        </div>
        <!--<div class="input-group">-->
            <!--<span class="input-group-addon" id="pass"><b>Password: </b></span>-->
            <!--<input type="password"-->
                   <!--class="form-control"-->
                   <!--ng-model="model.user.password"-->
                   <!--aria-describedby="pass"/>-->
        <!--</div>-->
        <!--<div class="input-group">-->
            <!--<span class="input-group-addon" id="confirmPass"><b>Confirm Password: </b></span>-->
            <!--<input type="password"-->
                   <!--class="form-control"-->
                   <!--ng-model="model.user.confirmPass"-->
                   <!--aria-describedby="confirmPass"/>-->
        <!--</div>-->
        <div class="input-group">
            <span class="input-group-addon" id="first"><b>First Name: </b></span>
            <input type="text"
                   class="form-control"
                   ng-model="model.user.firstName"
                   aria-describedby="first"/>
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="last"><b>Last Name: </b></span>
            <input type="text"
                   class="form-control"
                   ng-model="model.user.lastName"
                   aria-describedby="last"/>
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="desc"><b>About: </b></span>
            <input type="text"
                   class="form-control"
                   ng-model="model.user.about"
                   aria-describedby="desc"/>
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="role"><b>Role: </b></span>
            <select class="form-control" ng-model="model.user.role">
                <option value="USER">USER</option>
                <option value="ADMIN">ADMIN</option>
            </select>
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="public"><b>Public Url: </b></span>
            <input type="text"
                   class="form-control"
                   value="/chef/{{model.user._id}}"
                   aria-describedby="public"
                   disabled />
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="books"><b>Cookbooks: </b></span>
            <input type="text"
                   class="form-control"
                   ng-model="model.user.books"
                   value="{{model.user.books}}"
                   aria-describedby="books"
                   disabled />
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="recipes"><b>Recipes: </b></span>
            <input type="text"
                   class="form-control"
                   ng-model="model.user.recipes"
                   value="{{model.user.recipes}}"
                   aria-describedby="recipes"
                   disabled />
        </div>

        <div class="input-group">
            <span class="input-group-addon" id="following"><b>Following: </b></span>
            <input type="text"
                   class="form-control"
                   ng-model="model.user.following"
                   value="{{model.user.following}}"
                   aria-describedby="following"
                   disabled />
        </div>

        <div class="input-group">
            <span class="input-group-addon" id="follower_count"><b># Followers: </b></span>
            <input type="text"
                   class="form-control"
                   ng-model="model.user.follower_count"
                   aria-describedby="follower_count"
                   disabled />
        </div>

        <div class="input-group">
            <span class="input-group-addon" id="created"><b>DateCreated: </b></span>
            <input type="text"
                   class="form-control"
                   ng-model="model.user.dateCreated"
                   value="{{model.user.dateCreated | date}}"
                   aria-describedby="created"
                   disabled />
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="modified"><b>DateModified: </b></span>
            <input type="text"
                   class="form-control"
                   ng-model="model.user.dateModified"
                   value="{{model.user.dateModified | date}}"
                   aria-describedby="modified"
                   disabled />
        </div>
    </div>

    <a class="btn btn-block btn-success" ng-click="model.updateUser(model.user)">
        Modify
    </a>
    <a class="btn btn-block btn-severe" ng-click="model.deleteUser(model.user, true)">
        Delete
    </a>
    <a class="btn btn-block btn-danger" href="#/admin/user">
        Back to Overview
    </a>

    <ng-include src="'views/misc/templates/footer.view.client.html'"></ng-include>
</div>