<ng-include src="'views/misc/templates/header.view.client.html'"></ng-include>

<div id="page-content-wrapper">
    <a href="#/admin">
        <span class="glyphicon glyphicon-chevron-left"></span>
        Back
    </a>

    <div>
        <a href="#/admin/user/new" class="badge pull-right">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
        <h3>Manage Users</h3>
        <h5>Total: {{model.users.length}} Users</h5>
    </div>

    <div class="mdc-msg-text">
        <div class="alert alert-danger" ng-show="model.error">
            {{model.error}}
        </div>
        <div class="alert alert-success" ng-show="model.message">
            {{model.message}}
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Username</th>
                <th>ID</th>
                <th>Role</th>
                <th>Modified</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in model.users">
                <th>
                    <a href="#/admin/user/{{user._id}}/details">{{user.username}}</a>
                </th>
                <th>{{user._id}}</th>
                <th>{{user.role}}</th>
                <th>{{user.dateModified | date}}</th>
                <th>
                    <a ng-click="model.deleteUser(user, false)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </th>
            </tr>
            </tbody>
        </table>
    </div>

    <ng-include src="'views/misc/templates/footer.view.client.html'"></ng-include>
</div>