<ng-include src="'views/misc/templates/header.view.client.html'"></ng-include>

<div id="page-content-wrapper">

    <header class="main-page">
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Create your very own digital cookbook</h1>
                <hr>
                <p>Or search for books or recipes below</p>
                <div class="main-page">
                    <ng-include src="'views/search/templates/search-bar.view.client.html'"></ng-include>
                </div>
                <!--<div class="input-group">-->
                <!--<input type="text"-->
                <!--class="form-control btn"-->
                <!--placeholder="Search books or recipes"/>-->
                <!--<a class="input-group-addon btn btn-default">-->
                <!--<span class="glyphicon glyphicon-search"></span>-->
                <!--</a>-->
                <!--</div>-->
            </div>
        </div>
    </header>

    <section class="bg-primary main-page" id="about">
        <div class="container-fluid">
            <div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Digitize your recipe collection today!</h2>
                    <hr class="light">
                    <p class="text-faded">
                        My Digital Cookbook is an online repository for cookbooks and recipes. Search our site for options, or go ahead and create a profile and start digitizing your collection!
                    </p>
                    <a href="#/register" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
                </div>
            </div>
        </div>
    </section>

    <ng-include src="'views/misc/templates/footer.view.client.html'"></ng-include>
</div>