<ng-include src="'views/misc/templates/header.view.client.html'"></ng-include>

<!-- NOTE: This is the logged-in user viewing their books -->

<div id="page-content-wrapper">
    <div class="mdc-msg-text">
        <div class="alert alert-danger" ng-show="model.error">
            {{model.error}}
        </div>
        <div class="alert alert-success" ng-show="model.message">
            {{model.message}}
        </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="book in model.books">
            <span><a href="#/user/{{model.userId}}/book/{{book._id}}/recipe">{{book.name}}</a></span>
            <span>{{book.description}}</span>
            <div class="pull-right">
                <a href="#/user/{{model.userId}}/book/{{book._id}}">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
            </div>
        </li>
    </ul>

    <ng-include src="'views/misc/templates/footer.view.client.html'"></ng-include>
</div>