<ng-include src="'views/misc/templates/header.view.client.html'"></ng-include>

<div id="page-content-wrapper">
    <h3>Edit Cookbook</h3>
    <div class="mdc-msg-text">
        <div class="alert alert-danger" ng-show="model.error">
            {{model.error}}
        </div>
        <div class="alert alert-success" ng-show="model.message">
            {{model.message}}
        </div>
    </div>

    <form>
        <label for="name">Name: </label>
        <input type="text"
               id="name"
               placeholder="Name your book"
               ng-model="model.book.name"
               class="form-control"/>

        <label for="description">Description: </label>
        <textarea id="description"
                  placeholder="Describe your book here"
                  ng-model="model.book.description"
                  class="form-control"></textarea>

        <label for="image">Image (Optional): </label>
        <input type="file"
               id="image"
               name="myFile"
               ng-model="model.book.file"
               class="form-control"/>
        <label for="preview">Image Preview: </label>
        <img ng-src="{{model.book.img_record.url}}" id="preview" width="100%"/>
    </form>

    <button class="btn btn-block btn-primary"
            ng-click="model.updateBook(model.book)">Update</button>
    <button class="btn btn-block btn-severe"
            ng-click="model.deleteBook()">Delete</button>
    <a href="#/dashboard/books" class="btn btn-block btn-danger">
        Cancel
    </a>

    <ng-include src="'views/misc/templates/footer.view.client.html'"></ng-include>
</div>