<div class="mdc-search-bar">
    <div class="container-fluid">
            <input type="text"
                   ng-model="searchText"
                   class="form-control"
                   placeholder="Search {{searchType || 'for ...'}}"/>
            <div class="btn-group btn-group-justified">
                <div class="btn-group">
                    <select ng-model="searchType" class="btn btn-default">
                        <option value="">---</option>
                        <option value="Chefs">Chef</option>
                        <option value="Cookbooks">Cookbook</option>
                        <option value="Recipes">Recipe</option>
                    </select>
                </div>
                <div class="btn-group">
                    <a class="btn btn-default" role="group"
                       ng-click="model.search(searchText, searchType)">
                        <span>Search</span>
                    </a>
                </div>
            </div>
    </div>
</div>