<!-- https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/index.html -->
<nav class="navbar navbar-default navbar-fixed-top" id="wrapper">
    <div class="container-fluid">
        <div>
            <div class="navbar-header mdc-logo pull-left">
                <a class="navbar-brand" href="/">
                    <img src="../../../../img/logo-100x70.png"/>
                </a>
            </div>
            <div class="pull-right" id="menu-toggle-div">
                <a class="navbar-brand" id="menu-toggle">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </a>
            </div>
        </div>

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <h3>
                        <a href="/">
                            My Digital Cookbook
                        </a>
                    </h3>
                    <h4 ng-if="model.username">
                        Welcome, {{model.username}}
                    </h4>
                </li>
                <li>
                    <hr>
                </li>
                <li>
                    <ng-include src="'views/search/templates/search-bar.view.client.html'"></ng-include>
                </li>
                <li ng-if="model.admin">
                    <a href="#/admin">Admin Portal</a>
                </li>
                <li ng-if="model.username">
                    <a href="#/dashboard">Dashboard</a>
                </li>
                <li ng-if="model.username">
                    <a href="#/profile">Profile</a>
                </li>
                <li ng-if="model.username">
                    <a ng-click="model.logout()">
                        Logout
                    </a>
                </li>
                <li ng-if="!model.username">
                    <a href="#/login">Login</a>
                </li>
                <li ng-if="!model.username">
                    <a href="#/register">Register</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
    </div>
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
            $("#menu-toggle-div").toggleClass("mdc-adjust-pr");
        });
    </script>
</nav>
