<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header mdc-logo pull-left">
            <a class="navbar-brand" href="/">
                <img src="../../../../img/logo-100x70.png"/>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand">
                My Digital Cookbook
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="alert alert-danger">
        <p> {{model.error}} </p>
        <p> Click <a href="/mdc/index.html#/login">here</a> to go back to the login page. </p>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom"></nav>