<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">
                Web App Maker
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="alert alert-danger">
        <p> {{model.error}} </p>
        <p> Click <a href="/mdc/index.html#/login">here</a> to go back to the login page. </p>
    </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom"></nav>